.container {
 width: 180px;
 height: 80px;
 background-color: white;
 padding: 10px;
 background-color: rgb(88, 88, 169);
 border-radius: 5px;
}

.iconcontainer{
  width: 20px;
  height: 20px;
  background-color: rgb(70, 136, 89);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: rgb(20, 173, 20);
  border-radius: 50%;
}

.p {
    margin-bottom: -14px;
    font-size: 12px;
    color: #ababab;
}



