.barchart-container {
    min-height: 50%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px 40px 15px;
    box-shadow: 5px 5px 10px rgb(222, 220, 220);
    z-index: 999;
}

.barchart-container p {
    font-size: 14px;
    margin-top: 2px;
    font-weight: bold;
}